<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0mnpyzWgwvr3LnHkksAZJxus_Y2KGtwA</string>
	<key>GCM_SENDER_ID</key>
	<string>854568040633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedfekry.EleganceHub</string>
	<key>PROJECT_ID</key>
	<string>elegance-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>elegance-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854568040633:ios:45ef4868a7c6b204efc368</string>
</dict>
</plist>